<div>
   <h3>Login Here</h3>
    <form onsubmit="return false;" [formGroup]="loginForm">
      <div>
        <div class="form-group"></div>
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" />
        </div><br>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" />
        </div><br>
      </div>
      <span>Don't have an account? 
      <a routerLink="/signUp">signUp</a></span><br><br>

      <button class="btn btn-primary" (click)="login()">Login</button>
    </form>
</div>
